@import 'normalize';
@import 'ios';

body {
  position: relative;
  font-family: "proxima-nova";
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

.bold {
  font-weight: 700;
}

.scroll-down {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  left: 0;

  .fa {
    display: inline-block;
    height: 50px;
    padding-left: 17px;
    padding-right: 17px;
    line-height: 50px;
    font-size: 25px;
    border: 1px solid #999;
    color: #999;
    border-radius: 58px;
    transition: all 0.5s;

    &:hover {
      cursor: pointer;
      transition: all 0.5s;
      border: 1px solid #333;
      color: #333;
    }
  }
}

.header{
  width: 100%;

  @media (max-width: 720px) {
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (min-width: 720px) {
    width: 40%;
  }

  @media (min-width: 1170px) {
    width: 30%;
  }

  &__text {
    position: relative;
  }

  &__name {
    font-family: 'refrigerator-deluxe';
    font-weight: 300;
    margin: 0;

    &--bold {
      font-weight: 700;
    }
  }

  &__title {
    overflow: hide;
    position: relative;
    top: -15px;
    padding-left: 5px;
    margin: 0;
    text-transform: uppercase;
    font-family: 'refrigerator-deluxe';
  }
}

.social {
  display: flex;
  width: 95%;
  justify-content: space-between;

  &__item {
    text-transform: uppercase;
    transition: color 0.25s;

    &:hover {
      transition: color 0.25s;
    }

    &.twitter:hover {
      color: #55acee;
    }

    &.github:hover {
      color: #f93;
    }

    &.codepen:hover {
      color: #76DAFF;
    }
  }
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 2em;

  @media (max-width: 720px) {
    padding-left: 1em;
    padding-right: 1em;
  }

  @media (min-width: 720px) {
    max-width: 680px;
  }

  @media (min-width: 1200px) {
    max-width: 50%;
  }
}

.content {
  &__header {
    text-transform: uppercase;
    font-weight: 300;
  }

  &__header--bold {
    font-weight: 700;
  }
}

.project {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
  padding-bottom: 1em;

  &__header {
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
  }

  &__content {
    flex: 2;
  }

  &__source {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex: 1;
    align-self: center;

    @media (max-width: 615px) {
      text-align: right;
    }

    @media (min-width: 615px) {
      flex-direction: row;
    }
  }

  &__source-item {
    @media (max-width: 615px) {
      padding-top: 0.25em;
      padding-bottom: 0.25em;
    }

    padding-left: 0.5em;
    padding-right: 0.5em;
    flex: 0 1 auto;
  }
}

.footer {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #111;
  color: #fff;
}

.contact {
  &__header {
    font-weight: 300;
    text-transform: uppercase;

    &--bold {
      font-weight: 700;
    }
  }
}
